* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
}

pre {
    min-height: 100vh;
    flex: 10;
    overflow: hidden;
}

.file-content {
    min-height: 100vh;
    padding: 10px;
    white-space: pre;
    border: none;
    outline: none;
    font-size: 18px;
    text-decoration: none;
    font-family: "helvetica", sans-serif;
    letter-spacing: 0.07em;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;     
}
body::-webkit-scrollbar-track {
    background: none;      
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 103, 0.688);  
    border-radius: 20px;    
}